.container{
    flex:5;
    color:gray;
    padding:10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.205);
    .title{
        margin-bottom: 20px;
    }
    .grid{
        stroke: lightgray;
    }
}