.container{
    display: flex;
    .main{
      flex:6;
      .widgets,.charts{
        display: flex;
        gap:20px;      
      }
      .charts{
        padding: 5px 20px;
        margin-top:10px
      }
      .list{
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.205);
        padding:20px;
        margin: 20px;
        .title{
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
    
  }
  