.container{
    flex:1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: white;

    .top{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rgb(42, 39, 197);
        }
    }
    .center{
        padding: 10px;
        ul{
            .title{
                font-size: 10px;
                font-weight: bold;
                color:rgb(139, 125, 125);
                margin: 15px 0;
            }
            li{
                display: flex;
                align-items: center;
                padding: 6px 4px;
                column-gap: 5px;
                &:hover{
                    background-color:rgba(42, 30, 151, 0.473);
                    cursor: pointer;
                }
            }

        }
    }
    .bottom{

    }

    hr{
        height: 0;
        border: 0.5px solid lightgray;
    }
}